<%- include("templates/cabecera", {tituloWeb: "macotas"}) %>

<div class="container">

<a href="/mascotas/crear" class="btn btn-success btn-block mb-4">Crear nuevo</a>

<% if (arrayMascotas.length > 0) { %>
 
<table class="table table-striped">

   <thead>

    <tr>

       <th scope="col">id</th>
       <th scope="col">nombre</th>
       <th scope="col">descripcion</th>
       <th scope="col">Acciones</th>

    </tr>

   </thead>

   <tbody>

    <% arrayMascotas.forEach(mascota => { %>

     <tr>

       <td><%= mascota.id %></td>
       <td><%= mascota.nombre %></td>
       <td><%= mascota.descripcion %></td>
       <td width="10px"><a class='btn btn-primary btn-sm' href="/mascotas/<%= mascota.id %>">Ver</a></td>

     </tr>

     <% }) %>

   </tbody>

</table>

<% } %>

</div>
   
<%- include("templates/footer") %>