<%- include("templates/cabecera", {tituloWeb: "macotas"}) %>

<div class="container">

<% if (arrayMascotasDB.length > 0) { %>
 
<table class="table table-striped">

   <thead>

    <tr>

       <th scope="col">id</th>
       <th scope="col">nombre</th>
       <th scope="col">descripcion</th>
       <th scope="col" colspan="2">Acciones</th>

    </tr>

   </thead>

   <tbody>

    <% arrayMascotasDB.forEach(mascota => { %>

     <tr>

       <td><%= mascota.id %></td>
       <td><%= mascota.nombre %></td>
       <td><%= mascota.descripcion %></td>
       <td>Editar</td>
       <td>Eliminar</td>

     </tr>

    <% }) %>

   </tbody>

</table>

<% } %>

</div>
   
<%- include("templates/footer") %>